canvas{
    position: absolute;
    background-color: rgb(135, 135, 186);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('Images/Images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: block;
}

#count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 44px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lives {
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 44px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }